@model University.Models.Course

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Course</h1>
<hr />

<div class="container pt-3">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="CourseID" />
        <div class="row form-group">
            <div class="col-3">
                <label asp-for="Title" class="control-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-3">
                <label asp-for="Credits" class="control-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Credits" class="form-control" />
                <span asp-validation-for="Credits" class="text-danger"></span>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-3">
                <label asp-for="DepartmentID" class="control-label"></label>
            </div>
            <div class="col-5">
                <select asp-for="DepartmentID" class="form-control" asp-items="ViewBag.DepartmentID"></select>
                <span asp-validation-for="DepartmentID" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group pt-5">
            <div class="row d-flex flex-row-reverse">
                <div class="col-auto">
                    <a asp-action="Index" class="btn btn-outline-dark">Back to List</a>
                </div>
                <div class="col-auto">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
